# TODO: Update with exact module version
numpy==1.23.4
torch==2.0.0
torchvision==0.15.1
opencv_python
loguru
scikit-image
tqdm
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
pandas==1.3.5

# verified versions
onnx==1.12.0
onnxruntime==1.14.1
onnx-simplifier==0.4.28
